@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './base.css';
@import 'tailwindcss';


/* #app {
  max-width: 1280px;
  margin: 0 0;
  padding: 0;
  font-weight: normal;
} */

/* * {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
} */


/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
  }
}

::-webkit-scrollbar {
  height: 6px;      /* Horizontal scrollbar */
  width: 6px;       /* Vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  
  background-color: #3B82F6; /* tailwind's blue-500 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Untuk Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3B82F6 transparent;
}

 /* oklch(82.8% 0.111 230.318) */
